# Home Assistant runtime data
*.db
*.log
.cloud/
.storage/
.uuid
.homekit.state
tts/
config/*.lock
home-assistant.log*
*.db*

# Home Assistant Secrets
ip_bans.yaml
secrets.yaml
known_devices.yaml

# OS / editor
__pycache__/
*.pyc
.DS_Store
