# Home Assistant runtime data
*.db
*.log
.cloud/
.storage/
.uuid
.homekit.state
tts/
config/*.lock
home-assistant.log*
*.db*

# Home Assistant Custom Components (possibly might add back)
/config/custom_components/

# Home Assistant Backups
/config/backups/

# Home Assistant Secrets
ip_bans.yaml
secrets.yaml
known_devices.yaml

# OS / editor
__pycache__/
*.pyc
.DS_Store

# Matter server
matter_server_data/

# Python
__pycache__/
*.egg-info/

# Virtual environments
.venv/

# Local Setup
.vscode/
.env

# Adguard
adguard/
